{
  "name": "{{packageName}}",
  "version": "0.1.0",
  "type": "module",
  "main": "dist/server.js",
  "scripts": {
    "build": "tsc",
    "dev": "tsc --watch",
    "agent": "node dist/server.js"
  },
  "dependencies": {
    "@wardenprotocol/agent-kit": "^0.5.0",
    "dotenv": "^16.4.0"{{model_dependencies}}
  },
  "devDependencies": {
    "@types/node": "^22.8.1",
    "typescript": "^5.6.3"
  }
}
